<h2>book list:</h2>
<button (click)="handleClick()" [disabled]="isDisabled">Show Books</button>

<input type="text" [(ngModel)]="myName"/>
<p>{{myName}}</p>


<ul>
    <li>
        <img [src]="src" [alt]="name">
        {{name}} by {{author}}
    </li>

    <li>
        <img [src]="src2" [alt]="name2">
        {{name2}} by {{author2}}
    </li>
</ul>



<!-- 
    Direktive sluze za dodatno manipulisanje elementima u Angular kodu.
    To su build-in opcije koje Angular pruza radi lakseg rukovanja elementima
    Postoje sledece vrste direktiva;

    - Component:
    komponente su same po sebi direktive (malo je apstraktno ali shvatices vremenom....valjda)

    - Attribute directives:
    sluze da promene svojstva elementima u vidu klasa, stilova itd...

    -Structural directives:
    sluze da dodajemo ili uklanjamo elemente odnosno da manipulisemo DOM stablom


    Neke od Attribute direktiva:
    --[(ngModel)] omogucava two-way data binding 
    u ovom slucaju u isto vreme hvata input i setuje ga na datu varijablu 
    odnosno menja funkciju koja bi se zvala handleInput(), 
    ponasa se kao onChange u React-u (nesto slicno ofc)
    da bi koristili ovaj modal moramo da importujemo formsModule u app.module komponenti.

    --[(ngClass)] omogucava menjanje css klasa ili dodavanje i brisanje istih html elementima

    --[(ngStyle)] omogucava menjanje stila elementima u html kodu


    Neke od Structural direktiva:
    --NgIf omogucava primenu if else uslova na html elemente
    
    --NgFor omogucava iteraciju targetiranih html elemenata ali i za ponavljanje funkcije nad njima

    --NgSwitch omogucava koriscenje switch uslova na html elemente
-->