<h2>book list:</h2>
<button (click)="isShowing = !isShowing">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>



<ul *ngIf="isShowing">
    <ng-container *ngFor="let book of books; let i = index">
        <li>
            {{i+1}}
            <img [src]="book.image" [alt]="book.name">
            {{book.name}} by {{book.author}}
        </li>
    </ng-container>
</ul>






<!-- 
    Direktive sluze za dodatno manipulisanje elementima u Angular kodu.
    To su build-in opcije koje Angular pruza radi lakseg rukovanja elementima
    Postoje sledece vrste direktiva;

    - Component:
    komponente su same po sebi direktive (malo je apstraktno ali shvatices vremenom....valjda)

    - Attribute directives:
    sluze da promene svojstva elementima u vidu klasa, stilova itd...

    -Structural directives:
    sluze da dodajemo ili uklanjamo elemente odnosno da manipulisemo DOM stablom


    Neke od Attribute direktiva:
    --[(ngModel)] omogucava two-way data binding 
    u ovom slucaju u isto vreme hvata input i setuje ga na datu varijablu 
    odnosno menja funkciju koja bi se zvala handleInput(), 
    ponasa se kao onChange u React-u (nesto slicno ofc)
    da bi koristili ovaj modal moramo da importujemo formsModule u app.module komponenti.

    --[(ngClass)] omogucava menjanje css klasa ili dodavanje i brisanje istih html elementima

    --[(ngStyle)] omogucava menjanje stila elementima u html kodu


    Neke od Structural direktiva:
    --NgIf omogucava primenu if else uslova na html elemente
    
    --NgFor omogucava iteraciju targetiranih html elemenata ali i za ponavljanje funkcije nad njima
    u ovom slucaju on navodimo varijablu "book" koja sadrzi vrednosti jednog
    elementa iz niza objekata "books",
    Takodje mozemo definisati i index

    --NgSwitch omogucava koriscenje switch uslova na html elemente





    <ng-container> je tag koji nam omogucava da u njega smestimo bilo koji sadrzaj
        zgodan je kod uslova. Cilj je da se logika ukloni iz html tagova
-->